.recipes_container {
  width: 100%;
  margin: 0 auto;
  background: url("../../assets/Recipes-base.png") no-repeat;
  padding-bottom: 10rem;
  position: relative;
}

.recipes_img {
  position: absolute;
  right: 0;
  width: 45rem;
  height: 30rem;
}

/* Main recipes icon */

.recipes_icon {
  width: 10%;
  height: 46.625rem;
  margin-top: 6rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Main header */
.recipes_header {
  width: 75rem;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.recipes_header_text {
  margin-top: 4rem;
  width: 50%;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

.r_header_item_popular {
  color: #0c344a;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
}

.r_header_item_view {
  color: #22c5bb;
  font-size: 1rem;
  font-weight: 600;
  width: 50%;
  margin-left: 10rem;
  display: flex;
  align-items: center;
}

.reicpes_arrow_icon {
  padding-left: 1rem;
}

/* Main section */

.recipes_section_container {
  width: 75rem;
  margin: 0 auto;
  display: flex;
}

.recipes_section {
  width: 40%;
  height: auto;
  display: inline-block;
  margin-top: 2rem;
}

.recipes_text_recom {
  color: #22c5bb;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1rem;
}

.recipes_text_scrambled {
  color: #0c344a;
  font-size: 2.5rem;
  font-weight: 300;
}

.recipes_statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2rem;
}

.recipes_statistic {
  border: 0.1rem solid #62698f40;
  border-radius: 10%;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
  width: 35%;
  height: 6.25rem;
}

.recipes_statistic_number {
  color: #0c344a;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.recipes_statistic_number1 {
  color: #0c344a;
  font-weight: 100;
  font-size: 2rem;
}

.recipes_statistic_text {
  color: #62698f;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
}

.recipes_statistic_text1 {
  font-weight: bold;
  padding-left: 0.3rem;
}
