.pricing_container {
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.pricing_conytainer_div {
  width: 61rem;
  margin: 0 auto;
  position: relative;
}

.pricing_controller_icon {
  position: absolute;
  margin-top: 10rem;
  margin-left: 5.5rem;
}

/* Main Header */
.pricing_header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.pricing_header_text {
  font-size: 4rem;
  color: #0c344a;
}

/* Main section */

.pricing_section_aside {
  display: flex;
  justify-content: space-between;
}

.pricing_section_container {
  width: 47%;
  display: flex;
}

.pricing_section_items {
  width: 29.3rem;
  height: 39.68rem;
  padding: 2rem 2rem;
  background-color: white;
  display: inline-block;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px rgb(5 54 77/ 20%);
}

.pricing_section_item {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.pricing_section_title {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1.5rem;
}

.pricing_section_number {
  background: #22c5bb1a;
  width: 5rem;
  height: 5rem;
  margin-right: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.pricing_section_3 {
  color: #22c5bb;
  font-size: 2rem;
  font-weight: 500;
  padding-top: 1.25rem;
}

.pricing_monthly {
  margin-right: 3rem;
  padding-top: 1.25rem;
  color: #0c344a;
  font-size: 2rem;
}

.pricing_sum {
  text-align: center;
  display: flex;
  padding-top: 2rem;
  padding-left: 1rem;
}

.dollor {
  color: #0c344a;
  font-size: 3rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-right: 1rem;
}

.pricing_sum_99 {
  color: #0c344a;
  font-size: 5rem;
  font-weight: bold;
  display: flex;
}

.pricing_sum_999 {
  font-size: 3rem;
  padding-bottom: 0.5rem;
  display: flex;
  font-weight: 100;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.pricing_sum_text {
  color: #62698f;
  font-size: 1.2rem;
  padding-top: 3rem;
  padding-left: 2rem;
}

.pricing_advantage {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  height: 3.5rem;
  padding-top: 1rem;
}

.pricing_check {
  color: #22c5bb;
  font-size: 1.7rem;
  padding-right: 1rem;
}

.pricing_get {
  padding-left: 1rem;
  font-size: 1rem;
  color: #62698f;
  text-align: start;
  opacity: 70%;
}

.pricing_button {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.pricing_button_now {
  width: 25rem;
  height: 5rem;
  background: #22c5bb;
  border: 5px solid white;
  border-radius: 6rem;
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

/* Main aside */

.pricing_aside_container {
  width: 47%;
  display: flex;
  align-items: center;
}

.pricing_aside {
  width: 29.3rem;
  height: 30.43rem;
  padding: 3rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 20px rgb(5 54 77/ 20%);
  border-radius: 1rem;
}

.pricing_aside_img {
  height: 8.56rem;
  /* display: flex; */
  width: 8.75rem;
}

.pricing_aside_text {
  color: #0c344a;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1.5rem;
}

.pricing_aside_information {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-align: start;
}

.pricing_phone {
  color: #62698f;
  font-size: 1rem;
  opacity: 70%;
}

.pricing_number {
  color: #62698f;
  font-size: 1rem;
  font-weight: bold;
}

.pricing_aside_request {
  color: #22c5bb;
  padding: 1.5rem;
  font-size: 1rem;
}
